.new-row {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.new-row:hover {
  background-color: #fafafa;
}

.new-row .title {
  float: left;
  font-size: 1rem;
}

.new-row .info {
  float: right;
}

.new-row .icon {
  float: right;
  margin-right: 0.5rem;
  position: relative;
}
