.container-style {
  background-color: #282c34;
  height: 175px;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.title {
  font-size: 4rem;
}

h1, h3 {
  margin: 0.5rem;
}